* { margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    font-family: "Share Tech Mono", monospace;
    color: white;
}

h1, h2 {
    color: #9B1728;
    display: inline-block;
}

h2 {
    font-size: 1.2em;
}

.scoretxt {
    color: white;
    font-size: 1.2em;
}

button {
    vertical-align: top;
    margin-top: 10px;
    font-family: monospace;
    background: #FFFFFF;
}

#instructiontxt {
    position: absolute;
    left: 50px;
    down: 100px;
    width: 200px;
    height: 350px;
    background: black;
    display: none;
    font-size: 0.9em;
}

#sbutton {
    width: 50px;
}

select {
    vertical-align: top;
    margin-top: 9px;
}

#loader {
    height: 100%;
    width: 100%;
    background-color: black;
}

img {
    display: block;
    margin: auto;
}

.load {
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

#topbar {
    height: 10%;
    background-color: black;
    display: none;
}

canvas {
	 background-color: black;
/*    display: block; *//* remove scrollbars */
    display: none;
}
